html {
    font-size: 14px;
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.for-sale {
    font-weight: lighter;
    color: gray;
}

.yes-visitor {
    color: darkgreen;
}

.no-visitor {
    color: darkred;
}

.flex-center {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.ml-2 {
    margin-left: 0.5em;
}